[Desktop Entry]
Type=Application
Version=1.0
Name=Install SteamOS with NVIDIA drivers
GenericName=SteamOS NVIDIA Installer
Comment=Install, reinstall, or recover SteamOS with NVIDIA drivers; maintained by OPEMOS
Icon=/home/deck/.local/share/icons/hicolor/scalable/apps/opemos.svg
Terminal=false
Exec=/home/deck/tools/open-opemos-welcome
Path=/home/deck
Categories=System;Utility;
StartupNotify=true
X-KDE-AutostartScript=true
X-GNOME-Autostart-enabled=true
